<div id="page-container">
   
    <header id="page-header">Create A New Meal! 
        <img id="burger-img" src="assets/burger.png"/>
    </header>

    <div id="newMeal-container">
      <form [formGroup]="newMealForm" (ngSubmit)="beginMeal()">
            <div class="form-group">
                <label for="mealname">Meal name</label>
                <input id="mealname" type="text" class="form-control" formControlName="mealname"/>
                <!--<div *ngIf="submitted && formFields.meal-name.errors">-->
                    <br>
                    <p class="alert alert-danger">Meal name is required!</p>
                </div>

            <!-- Area and validation handling -->
            <div class="form-group">
                <label for="city">City</label>
                <select id="city" class="form-control" formControlName="city">
                <option value = "New York"> New York</option>
                <option value = "Philadelphia"> Philadelphia</option>
                </select>
            </div>

            <div class="form-group">
                <label for="numvotes">Maximum number of votes</label>
                <select id="numvotes" class="numvotes" formControlName="numvotes">
                <option value = "1">1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
                <option value = "6">6</option>
                <option value = "7">7</option>
                <option value = "8">8</option>
                <option value = "9">9</option>
                <option value = "10">10</option>
                </select>
            </div>
            

            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>

            <div id="form-disclaimer">
                *A-MEAL-GOES is in early development, this form does not work currently. Thank You!
            </div>
        </form>
        
    </div>

</div>




