<div id="page-container">


    <div>
        <span *ngIf="resturants"> {{this.resturants.restaurants[this.currentResturant]}} </span>
    </div>

    
    <label for="yes_no_radio">Vote for this restaurant?</label>
    <br>
    <input name="yes_no" type="radio" id="yes" />
        <label for="yes">Yes</label>
    <input name="yes_no" type="radio" id="no"/>
        <label for="no">No</label>
        <br>
    <button type="button" class="btn btn-primary" (click)="getNextResturant()">Next Restaurant</button>
</div>