<div id="page-container">
    <header id="page-header">Join A Meal! 
        <img id="burger-img" src="assets/burger.png"/>
    </header>

    <div id="joinMeal-container">
        <form [formGroup]="joinMealForm">

            <!-- ZipCode input and validation handling -->
            <div class="form-group">
                <label for="id">Meal Id</label>
                <input id="id" type="text" class="form-control" formControlName="id"/>
                <div *ngIf="submitted && formFields.zip.errors?.required">
                    <p class="alert alert-danger">Meal code Is Required!</p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>

            <div id="form-disclaimer">
                *A-MEAL-GOES is in early development, this form does not work currently. Thank You!
            </div>
        </form>
    </div>

</div>




